<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ramadoni.spartpartkomputer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SpartpartKomputer"
        android:usesCleartextTraffic="true">
        <activity android:name=".admin.PesananPembeli"></activity>
        <activity android:name=".pembeli.DetailSpartpartActivity" />
        <activity android:name=".pembeli.ProfileUser" />
        <activity android:name=".pembeli.KeranjangBelanja" />
        <activity android:name=".pembeli.PilihSpartpart" />
        <activity android:name=".admin.Profile" />
        <activity android:name=".admin.InputDataSpartpart" />
        <activity android:name=".admin.EditSpartpartDanHapusActivity" />
        <activity android:name=".admin.ActivityDataSpartpart" />
        <activity android:name=".pembeli.HomePembeliActivity" />
        <activity android:name=".admin.HomeAdminActivity" />
        <activity android:name=".users.RegistrasiActivity2" />
        <activity android:name=".MainActivity" />
        <activity android:name=".users.LoginActivity">

        <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>